@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Shadows+Into+Light&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Knewave', cursive;
    user-select: none;
}
/*Index*/
#index_menu{
    width: 15%;
    height: 700px;
    background-color: brown;
    margin: 10px;
}
#index_menu a{
    display: block;
    width: 90%;
    height: 30px;
    margin-top: 10px;
    background-color: rgb(255, 153, 0);
    margin-left: 10px;
    color: black;
    text-decoration: none;
}







/*Fight*/
body{
    background-image: url("../IMG/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
#info{
    text-align: center;
    color: blue;
    background-color: rgb(36, 22, 13);
    border: 3px black solid;
}
#StartButton{
    width: 50%;
    height: 60px;
    background-color: yellow;
    margin-top: 3%;
    text-align: center;
    font-size: larger;
    margin-left: 25%;


}
#fightWindow{
    display: flex;
    flex-direction: row;
}


#player1Overview{
    width: 500px;
    height: 550px;
    background-color: saddlebrown;
    margin: auto;
    margin-top: 1%;
    border: 5px black solid;
    padding: 0.25em;
    font-size: 15px;
}

#attack{
    background-color: orange;
    border: 1px black solid;
    height: 60px;
    width: 90%;
    margin-top: 3%;

}
#player2Overview{
    width: 500px;
    height: 550px;
    background-color: saddlebrown;
    margin: auto;
    margin-top: 1%;
    border: 5px black solid;
    padding: 0.25em;
    font-size: 15px;
}

#player1Overview img{
    width: 50%;
    height: auto;
}

#player2Overview img{
    width: 50%;
    height: auto;
}

#hp1 , #hp2{
    color: yellow;
    font-size: 20px;
}

#dmg1 , #dmg2{
    color: orangered;
    font-size: 20px;
}

progress{
    width: 90%;
    margin: auto;
    height: 35px;
    border: 3px black solid;
}
progress::-webkit-progress-bar {
    background-color: black;
 }
 progress::-webkit-progress-value {
    background-color: blue;
 }