*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}
body{
    background-image: url("../IMG/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
/*Status*/
#info{
    text-align: center;
    color: blue;
    background-color: rgb(36, 22, 13);
    border: 3px black solid;
}
#StartButton{
    width: 50%;
    height: 60px;
    background-color: yellow;
    margin-top: 3%;
    text-align: center;
    font-size: larger;
    margin-left: 25%;


}
#fightWindow{
    display: flex;
    flex-direction: row;
}


#player1Overview{
    width: 500px;
    height: 560px;
    background-color: saddlebrown;
    margin: auto;
    margin-top: 5%;
    border: 5px black solid;
    padding: 0.5em;
}

#attack{
    background-color: orange;
    border: 1px black solid;
    height: 60px;
    width: 90%;
    margin-top: 3%;

}
#player2Overview{
    width: 500px;
    height: 560px;
    background-color: saddlebrown;
    margin: auto;
    margin-top: 5%;
    border: 5px black solid;
    padding: 0.5em;
}

#player1Overview img{
    width: 60%;
    height: auto;
}

#player2Overview img{
    width: 60%;
    height: auto;
}

#hp1 , #hp2{
    color: yellow;
    font-size: large;
}

#dmg1 , #dmg2{
    color: orangered;
    font-size: large;
}

progress{
    width: 90%;
    margin: auto;
    height: 35px;
    border: 3px black solid;
}
progress::-webkit-progress-bar {
    background-color: black;
 }
 progress::-webkit-progress-value {
    background-color: blue;
 }